{% extends 'main/layout.html' %}

{% block title %}Лента новостей{%endblock%}

{% block content %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#example-getting-started').multiselect({
            buttonWidth: '60px',
            buttonText: function (options, select) {
                return '...';
                }
        });
        {% if rss_list %}
        {% for el in rss_list %}
        {% if el.active %}
        $('#example-getting-started').multiselect('select', ['{{el.id}}']);
        {% endif %}
        {% endfor %}
        {% endif %}
    });
</script>

<nav aria-label="..." class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-white" style="border-top:#F2F2F2 1px solid;">
  <ul class="pagination" style="margin:auto">
    {% if feed_entries.has_previous %}
    <li class="page-item">
        {% if search_params %}
        <a class="page-link" href="?q={{ search_params.q }}&{{ search_params.e }}&page={{ feed_entries.previous_page_number }}">Предыдущая страница</a>
        {% else %}
      <a class="page-link" href="?page={{ feed_entries.previous_page_number }}">Предыдущая страница</a>
        {% endif %}
    </li>
    {% endif %}

    {% for page_num in feed_entries.paginator.page_range %}
      {% if page_num == 1 %}
        <li class="page-item {% if feed_entries.number == 1 %}active{% endif %}">
          {% if search_params %}
            <a class="page-link" href="?q={{ search_params.q }}&{{ search_params.e }}&page={{ page_num }}">{{ page_num }}</a>
          {% else %}
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
          {% endif %}
        </li>
        {% if feed_entries.number >= 5 %}
          <li class="page-item disabled">
            <span class="page-link">...</span>
          </li>
        {% endif %}
      {% elif page_num == feed_entries.paginator.num_pages %}
        {% if feed_entries.number <= feed_entries.paginator.num_pages|add:'-4' %}
          <li class="page-item disabled">
            <span class="page-link">...</span>
          </li>
        {% endif %}
        <li class="page-item {% if feed_entries.number == feed_entries.paginator.num_pages %}active{% endif %}">
          {% if search_params %}
            <a class="page-link" href="?q={{ search_params.q }}&{{ search_params.e }}&page={{ page_num }}">{{ page_num }}</a>
            {% else %}
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            {% endif %}
        </li>
      {% elif page_num == feed_entries.number %}
        <li class="page-item active">
          <span class="page-link">{{ page_num }}</span>
        </li>
      {% elif page_num == feed_entries.number|add:'-1' or page_num == feed_entries.number|add:'-2' or page_num == feed_entries.number|add:'1' or page_num == feed_entries.number|add:'2' %}
        <li class="page-item">
            {% if search_params %}
            <a class="page-link" href="?q={{ search_params.q }}&{{ search_params.e }}&page={{ page_num }}">{{ page_num }}</a>
            {% else %}
          <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            {% endif %}
        </li>
      {% elif page_num > feed_entries.number|add:'2' and page_num < feed_entries.number|add:'-2' %}
        {% if page_num|add:'-1' != feed_page.number %}
        <li class="page-item disabled">
          <span class="page-link">...</span>
        </li>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if feed_entries.has_next %}
    <li class="page-item">
        {% if search_params %}
        <a class="page-link" href="?q={{ search_params.q }}&{{ search_params.e }}&page={{ feed_entries.next_page_number }}">Следующая страница</a>
        {% else %}
      <a class="page-link" href="?page={{ feed_entries.next_page_number }}">Следующая страница</a>
        {% endif %}
    </li>
    {% endif %}
  </ul>
</nav>

<div class="features">
    <div style="background-color:white; border-bottom:#F2F2F2 1px solid; padding-bottom:10px; display:flex; position:fixed; left:0; right:0">
        <h1 style="float:left;margin:auto">Лента новостей</h1>
        <form action="{% url 'search_results' %}" method="get" style="margin:10px 20px 0px" class="row g-3">
            <input name="q" type="text" placeholder="Поиск..." class="form-control" style="display:inline-block; width:200px;">
            {% if rss_list %}
            <select name="e" id="example-getting-started" required multiple="multiple">
                {% for el in rss_list %}
                <option value={{el.id}}>{{el.title}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit"> ОК </button>
            {% endif %}
        </form>
    </div>
    <div style="clear:both; padding-top:63px"></div>
    {% if feed_entries %}
    {% for el in feed_entries %}
    <div class="MagazineLayout">
        <div class="EntryVisual">
            {% if el.img %}
            {% autoescape off %}
            <p>{{el.img}}</p>
            {% endautoescape %}
            {% endif %}&nbsp;
        </div>
        <div class="Entry">
            {% autoescape off %}
            <h3><a href="{{el.id}}" target="_blank">{{el.title}}</a></h3>
            {% endautoescape %}
            <p><img width="16" src="{{el.icon}}"> <a href="https://{{el.domain}}" target="_blank">{{el.domain}}</a></p>
            <p>{{el.published}}</p>

            <p>{{ el.description }}</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>У вас нет записей!</p>
    {% endif %}
</div>
{%endblock%}
