{% extends 'main/layout.html' %}

{% block title %}Лента новостей{%endblock%}

{% block content %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#example-getting-started').multiselect({
            buttonWidth: '60px',
            buttonText: function (options, select) {
                return '...';
                }
        });
        {% if rss_list %}
        {% for el in rss_list %}
        {% if el.active %}
        $('#example-getting-started').multiselect('select', ['{{el.id}}']);
        {% endif %}
        {% endfor %}
        {% endif %}
    });
</script>

<div class="features">
    <div style="background-color:white; border-bottom:#F2F2F2 1px solid; padding-bottom:10px; display:flex; position:fixed; left:0; right:0">
        <h1 style="float:left;margin:auto">Лента новостей</h1>
        <form action="{% url 'search_results' %}" method="get" style="margin:10px 20px 0px" class="row g-3">
            <input name="q" type="text" placeholder="Поиск..." class="form-control" style="display:inline-block; width:200px;">
            {% if rss_list %}
            {% csrf_token %}
            <select name="e" id="example-getting-started" required multiple="multiple">
                {% for el in rss_list %}
                <option value={{el.id}}>{{el.title}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit"> ОК </button>
            {% endif %}
        </form>
    </div>
    <div style="clear:both; padding-top:63px"></div>
    {% if feed_entries %}
    {% for el in feed_entries %}
    <div class="MagazineLayout">
        <div class="EntryVisual">
            {% if el.img %}
            {% autoescape off %}
            <p>{{el.img}}</p>
            {% endautoescape %}
            {% endif %}&nbsp;
        </div>
        <div class="Entry">
            <h3><a href="{{el.id}}" target="_blank">{{el.title}}</a></h3>
            <p><img width="16" src="{{el.icon}}"> <a href="https://{{el.domain}}" target="_blank">{{el.domain}}</a></p>
            <p>{{el.published}}</p>

            <p>{{ el.description }}</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>У вас нет записей!</p>
    {% endif %}
</div>
{%endblock%}
