{% extends 'main/layout.html' %}

{% block title %}Ленты{%endblock%}

{% block content %}
<div class="features">
    <h1 style="text-align: center">Список активных источников</h1>
    {% if rss %}
            {% for el in rss %}
            <div class="MagazineLayout" style="margin: 10px 20%">
                <div style="float:left; margin: 0px 20px">
                    <img width="54" src="{{el.icon}}">
                </div>
                <div style="float:left"> <h3 style="margin: 0px 0px">{{el.title}}</h3>
                    <p style="margin: 0px 0px">{{el.description}}</p>
                    <p style="margin: 0px 0px">{{el.rss_url}}</p>
                </div>
                <div>
                    <p style="text-align: right"><a href="{% url 'rss-delete' el.id %}" class="btn btn-danger">Удалить</a></p>
                </div>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас нет лент!</p>
        {% endif %}
    <p style="text-align: center;clear:both; margin: 200px 0px" ><a href="{% url 'create' %}" class="btn btn-primary">Добавить RSS-канал</a></p>
</div>
{%endblock%}
