body {
  font-family: roboto;/* sans-serif;*/
  color: #333333;
}

a {
  color: #333333;
}

.sidebar {
  height: 100%;
  width: 63px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: #F2F2F2 1px solid;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 16px 0px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
}

.sidebar a:hover{
  padding: 6px 16px 0px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #74C0FC;
  background-color: #E8E8E8;
  display: block;
}

.sidebar a.active{
  padding: 6px 16px 0px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #FFFFFF;
  background-color: #74C0FC;
  display: block;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.MagazineLayout {
    float: left;
    clear: both;
    width: 700px;
    margin: 20px 20%;
    text-align: left;
}
.EntryVisual {
    float: left;
    clear: both;
    width: 230px;
    margin: 0px;
}
.Entry {
    float: left;
    margin: 0px 0px 0px 20px;
    width: 450px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

p {
  font-size: 13px;
  margin-bottom: 6px;
}